@charset "utf-8";

/* ---------------------------------------------- */
/* Main style documents */

body
{
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

h1
{
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	line-height: 100px;
}


/* ---------------------------------------------- */
/* Column style */

header
{
	background-color: #50A5A6;
	min-height: 100px;
	min-width: 700px;

}

/* ---------------------------------------------- */

footer
{
	min-width: 690px;
	min-height: 60px;
	padding: 5px;
	text-align: center;
}


table
{
	border-spacing: 0px;
	text-align: center;
	background: transparent;
	table-layout: fixed;
	padding: 0px;
	min-width: 600px;
}

thead
{
	font-weight: bold;
	height: 30px;
}

thead td
{
	border-bottom: 2px solid #8a4848;
	padding: 0px 5px 0px 5px;

}

/* ---------------------------------------------- */
/* Form style */

label
{
	display: block;
	min-width: 130px;
	float: left;
}

select
{
	width: 280px;
	border-radius: 3px;
	border: 1px solid #c0c0c0;
	padding: 5px 5px 5px 5px;
}

input[type=text]
{
	width: 260px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
}

input[type=submit]
{
	background-color: #0062c4;
	color: #ffffff;
	border: 1px solid #004a95;
}

/* ---------------------------------------------- */
/* Button style */

a.btn
{
	min-width: 90px;
	min-height: 30px;
	border-radius: 5px;
	padding: 7px 10px 7px 10px;
	text-decoration: none;
}

a.danger
{
	background-color: #ff5555;
	color: #ffffff;
	border: 1px solid #b70000;
}


a.danger:hover, a.danger:focus
{
	background-color: #ff6262;
}

