<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">

    <a class="navbar-brand" th:href="@{/}" data-th-text="#{label.nav.titleApp}">Library</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" th:class="${activePage == 'index'} ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" th:href="@{/}" data-th-text="#{label.nav.home}">Home</a>
        </li>
        <li class="nav-item" th:class="${activePage == 'books'} ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" th:href="@{/books}" data-th-text="#{label.nav.books}">Books</a>
        </li>
        <li class="nav-item" th:class="${activePage == 'authors'} ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" th:href="@{/authors}" data-th-text="#{label.nav.authors}">Authors</a>
        </li>
        <li class="nav-item" th:class="${activePage == 'categories'} ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" th:href="@{/categories}" data-th-text="#{label.nav.categories}">Categories</a>
        </li>
        <li class="nav-item" th:class="${activePage == 'publishers'} ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" th:href="@{/publishers}" data-th-text="#{label.nav.publishers}">Publishers</a>
        </li>
        <li class="nav-item" th:class="${activePage == 'lends'} ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" th:href="@{/lends}" data-th-text="#{label.nav.lends}">Lends</a>
        </li>
        <li class="nav-item" th:class="${activePage == 'readers'} ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" th:href="@{/readers}" data-th-text="#{label.nav.readers}">Readers</a>
        </li>
      </ul>
    </div>
  </nav>
</body>
</html>