<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title data-th-text="#{label.author.title}">Authors List</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <h1 align="center" data-th-text="#{label.author.title}">Authors list</h1>
        <br/>
        <a href="/author_new" class="btn btn-primary" data-th-text="#{label.author.addNewAuthor}">Add new author</a>
        <br/>
        <br/>
            <div>
        <span>
            <a href="/authors?language=en" data-th-text="#{label.lang.en}"></a>&nbsp;&nbsp;&nbsp;
            <a href="/authors?language=pl" data-th-text="#{label.lang.pl}"></a>&nbsp;&nbsp;&nbsp;
        </span>
            </div>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Lp</th>
            <th data-th-text="#{label.author.first_name}">First name</th>
            <th data-th-text="#{label.author.surname}">Surname</th>
            <th data-th-text="#{label.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">Lp</td>
            <td th:text="${author.first_name}">First name</td>
            <td th:text="${author.surname}">Surname</td>
            <td>
                <a th:href="@{/author_edit/{id}(id=${author.id})}" class="btn btn-primary" data-th-text="#{label.edit}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/author_delete/{id}(id=${author.id})}" class="btn btn-danger" data-th-text="#{label.delete}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

        <div th:replace="fragments/footer :: footer"></div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
                crossorigin="anonymous">
        </script>
        <script
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        </script>
        <script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('authors?language=' + selectedOption);
        }
    });
});
</script>
    </body>
</html>