<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title data-th-text="#{label.book.title}">Books List</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <h1 align="center" data-th-text="#{label.book.title}">Books list</h1>
        <br/>
        <a href="/book_new" class="btn btn-primary" data-th-text="#{label.book.addNewBook}">Add new book</a>
        <br/>
        <br/>

        <div align="center">
            <form th:action="@{/books}">
                <p>Search: </p>
                <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" placeholder="Search.." />
                &nbsp;
                <input type="submit" class="btn btn-primary" value="Search" />
                &nbsp;
                <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
                &nbsp;
            </form>
        </div>

        <br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>
                    <a th:href="@{'/books/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">Lp</a>
                </th>
                <th>
                    <a data-th-text="#{label.book.title}" th:href="@{'/books/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">Title</a>
                </th>
                <th>
                    <a data-th-text="#{label.book.yearOfRelease}" th:href="@{'/books/' + ${currentPage} + '?sortField=yearOfRelease&sortDir=' + ${reverseSortDir}}">Years of release</a>
                </th>
                <th>
                    <a data-th-text="#{label.book.description}" th:href="@{'/books/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">Description</a>
                </th>
                <th>
                    <a data-th-text="#{label.book.author}" th:href="@{'/books/' + ${currentPage} + '?sortField=author.surname&sortDir=' + ${reverseSortDir}}">Author</a>
                </th>
                <th>
                    <a data-th-text="#{label.book.category}" th:href="@{'/books/' + ${currentPage} + '?sortField=category.name&sortDir=' + ${reverseSortDir}}">Category</a>
                </th>
                <th>
                    <a data-th-text="#{label.book.publisher}" th:href="@{'/books/' + ${currentPage} + '?sortField=publisher.name&sortDir=' + ${reverseSortDir}}">Publisher</a>
                </th>
                <th data-th-text="#{label.action}">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}" th:style="${book.isAfterSuggestedReturnDate()} == TRUE ? 'background: red' : 'background: white'">
                <td th:text="${book.id}">Id</td>
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.yearOfRelease}">Years of release</td>
                <td th:text="${book.description}">Description</td>
                <td th:text="${book.author?.firstName+' '+book.author.surname}"></td>  <!--  ? pominiecie wartosci null, program sie nie wysypuje-->
                <td th:text="${book.category?.name}"></td>
                <td th:text="${book.publisher?.name}"></td>
                <td>
                    <span th:if="${book.isLend()}">
                        <a th:href="@{/lend_edit/{id}(id=${book.id})}" class="btn btn-secondary" data-th-text="#{label.book.return}">Return</a>
                    </span>
                    <span th:unless="${book.isLend()}">
                        <a th:href="@{/lend_new/{id}(id=${book.id})}" class="btn btn-secondary" data-th-text="#{label.book.lend}">Lend</a>
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{/book_edit/{id}(id=${book.id})}" class="btn btn-primary" data-th-text="#{label.edit}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{/book_delete/{id}(id=${book.id})}" class="btn btn-danger" data-th-text="#{label.delete}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

        <div th:if = "${totalPages > 1}">
            <div class = "row col-sm-10">
                <!--                <div class = "col-sm-2">-->
                <!--                    Total Rows: [[${totalItems}]]-->
                <!--                </div>-->
                <br>
                <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/books/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                </div>
                <div class = "col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/books/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/books/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>


        <div th:replace="fragments/footer :: footer"></div>

        <script type="text/javascript">
            function clearSearch() {
                window.location = "[[@{/}]]";
            }
        </script>
    </body>
</html>