<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title data-th-text="#{label.book.addNewBook}">Add new book</title>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div align="center">
        <h1 data-th-text="#{label.book.addNewBook}">Add new book</h1>
        <br />
        </div>
      <div class="container">
          <form action="#" th:action="@{/save_book}" th:object="${book}" method="post">
            <div class="form-main">
            <div class="form-group">
              <label data-th-text="#{label.book.titleBook}" for="title"></label>
              <input type="text" class="form-control" id="title" th:field="*{title}" />
              <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Full name error</span>
            </div>
            <div class="form-group">
              <label data-th-text="#{label.book.yearOfRelease}" for="yearOfRelease"></label>
              <input type="numbers" maxlength="4" class="form-control" id="yearOfRelease" th:field="*{yearOfRelease}" />
              <span th:if="${#fields.hasErrors('yearOfRelease')}" th:errors="*{yearOfRelease}">Full name error</span>
            </div>
            <div class="form-group">
              <label data-th-text="#{label.book.description}" for="description"></label>
              <textarea class="form-control" id="description" rows="3"></textarea>
              <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Full name error</span>
            </div>
            <div class="form-group">
              <label data-th-text="#{label.book.author}" for="author">Author: </label>
              <select class="form-control" id="author" th:field="*{author}">
                <option value=""> -- </option>
                <option th:each="author : ${listAuthor}"
                        th:value="${author.id}"
                        th:utext="${author.firstName +' '+author.surname}"/>
              </select>
            </div>
            <div class="form-group">
              <label data-th-text="#{label.book.category}" for="category">Category: </label>
              <select class="form-control" id="category" th:field="*{category}">
                <option value=""> -- </option>
                <option th:each="category : ${listCategory}"
                        th:value="${category.id}"
                        th:utext="${category.name}"/>
              </select>
            </div>
            <div class="form-group">
              <label data-th-text="#{label.book.publisher}" for="publisher">Publisher: </label>
              <select class="form-control" id="publisher" th:field="*{publisher}">
                <option value=""> -- </option>
                <option th:each="publisher : ${listPublisher}"
                        th:value="${publisher.id}"
                        th:utext="${publisher.name}"/>
              </select>
            </div>
            <div class="form-group" align="center">
              <button type="submit" class="btn btn-primary" data-th-text="#{label.save}">Save</button>
            </div>
            </div>
          </form>
      </div>
    </body>
</html>