<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Books List</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <h1 align="center">Books list</h1>
        <br/>
        <a href="/book_new" class="btn btn-primary">Add new book</a>
        <br/>
        <br/>

        <div align="center">
            <form th:action="@{/books}">
                <p>Search: </p>
                <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" placeholder="Search.." />
                &nbsp;
                <input type="submit" value="Search" />
                &nbsp;
                <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
                &nbsp;
            </form>
        </div>

        <br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Years of release</th>
                <th>Description</th>
                <th>Author</th>
                <th>Category</th>
                <th>Publisher</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}" th:style="${book.isAfterSuggestedReturnDate()} == TRUE ? 'background: red' : 'background: white'">
                <td th:text="${book.id}">Id</td>
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.year_of_release}">Years of release</td>
                <td th:text="${book.description}">Description</td>
                <td th:text="${book.author?.first_name+' '+book.author.surname}"></td>  <!--  ? pominiecie wartosci null, program sie nie wysypuje-->
                <td th:text="${book.category?.name}"></td>
                <td th:text="${book.publisher?.name}"></td>
                <td>
                    <span th:if="${book.isLend()}">
                        <a th:href="@{/lend_edit/{id}(id=${book.id})}" class="btn btn-secondary">Return</a>
                    </span>
                    <span th:unless="${book.isLend()}">
                        <a th:href="@{/lend_new/{id}(id=${book.id})}" class="btn btn-secondary">Lend</a>
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{/book_edit/{id}(id=${book.id})}" class="btn btn-primary">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{/book_delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
        <div th:replace="fragments/footer :: footer"></div>

        <script type="text/javascript">
                 function clearSearch() {
                 window.location = "[[@{/books}]]";
                    }
            </script>
    </body>
</html>