<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title data-th-text="#{label.home.title}">Library</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="wrap" align="center">
            <article>
                <header>
                    <h1 id="fittext1">
                        404 <i class="fa fa-exclamation-triangle fa-fw"></i>
                    </h1>
                </header>
                <p id="fittext2" data-th-text="#{label.error.notFound}">Not Found!</p>
                <h4>
                    <span data-th-text="#{label.error.text}">The file is not exist which you are looking for..</span>
                </h4>
                <br> <a th:href="@{/}" data-th-text="#{label.error.back}">Back to home</a>
            </article>
        </div>
    </body>
</html>