<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Lends List</title>
</head>
<body>
<h1 align="center">Lends list</h1>
<br/>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Id</th>
        <th>Lend date</th>
        <th>Suggested return date</th>
        <th>Return date</th>
        <th>Book</th>
        <th>reader</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lend : ${lends}">
        <td th:text="${lend.id}">Id</td>
        <td th:text="${#dates.format(lend.lend_date, 'dd-MM-yyyy')}"></td>
        <td th:text="${#dates.format(lend.suggested_return_date, 'dd-MM-yyyy')}"></td>
        <td th:text="${#dates.format(lend.return_date, 'dd-MM-yyyy')}"></td>
        <td th:text="${lend.book?.title}"></td>
        <td th:text="${lend.reader?.first_name+' '+lend.reader?.surname}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>