<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Lends List</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1 align="center">Lends list</h1>
<br/>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Id</th>
        <th>Lend date</th>
        <th>Suggested return date</th>
        <th>Return date</th>
        <th>Book</th>
        <th>Reader</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lend : ${lends}">
        <td th:text="${lend.id}">Id</td>
        <td th:text="${#dates.format(lend.lend_date, 'dd-MM-yyyy')}"></td>
        <td th:text="${#dates.format(lend.suggested_return_date, 'dd-MM-yyyy')}"></td>
        <td th:text="${#dates.format(lend.return_date, 'dd-MM-yyyy')}"></td>
        <td th:text="${lend.book?.title}"></td>
        <td th:text="${lend.reader?.first_name+' '+lend.reader?.surname}"></td>
        <td>
            <a th:href="@{/lend_delete/{id}(id=${lend.id})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>
</html>