<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Publishers List</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1 align="center">Publishers list</h1>
<br/>
<a href="/publisher_new">Add new publisher</a>
<br/>
<br/>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="publisher : ${publishers}">
        <td th:text="${publisher.id}">Id</td>
        <td th:text="${publisher.name}">Name</td>
        <td>
            <a th:href="@{/publisher_edit/{id}(id=${publisher.id})}">Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/publisher_delete/{id}(id=${publisher.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>
</html>