<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Readers List</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1 align="center">Readers list</h1>
<br/>
<a href="/reader_new">Add new reader</a>
<br/>
<br/>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Surname</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Province</th>
        <th>Postal code</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reader : ${readers}">
        <td th:text="${reader.id}">Id</td>
        <td th:text="${reader.first_name}">First name</td>
        <td th:text="${reader.surname}">Surname</td>
        <td th:text="${reader.phone_number}">Phone number</td>
        <td th:text="${reader.email}">Email</td>
        <td th:text="${reader.address}">Address</td>
        <td th:text="${reader.province}">Province</td>
        <td th:text="${reader.postal_code}">Postal code</td>
        <td>
            <a th:href="@{/reader_edit/{id}(id=${reader.id})}">Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/reader_delete/{id}(id=${reader.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>
</html>